<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
<div class="entete">
    <p><strong>FAQ</strong></p>
</div>

<div class="contenuFAQ">
    <div class="question">
        <p>Question lorem ipsum ?</p>
    </div>
    <div class="reponse">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec lacus euismod, efficitur odio at, vehicula ligula. Sed auctor dolor at libero interdum, ut tincidunt metus volutpat. Nullam nec elit nec nisl feugiat congue. Duis auctor justo sit amet luctus cursus. Ut malesuada libero vitae justo pellentesque, sit amet volutpat ex facilisis. Proin ullamcorper, justo vitae posuere tristique, lectus enim luctus nunc, sit amet gravida justo eros ac turpis.</p>
    </div>
    <div class="question">
        <p>Question lorem ipsum 2?</p>
    </div>
    <div class="reponse">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec lacus euismod, efficitur odio at, vehicula ligula. Sed auctor dolor at libero interdum, ut tincidunt metus volutpat. Nullam nec elit nec nisl feugiat congue. Duis auctor justo sit amet luctus cursus. Ut malesuada libero vitae justo pellentesque, sit amet volutpat ex facilisis. Proin ullamcorper, justo vitae posuere tristique, lectus enim luctus nunc, sit amet gravida justo eros ac turpis.Sed ac neque eu tellus pellentesque finibus. Integer fermentum ex vel augue vulputate, nec dignissim libero feugiat. Curabitur vel augue in arcu varius euismod a sit amet tellus. Suspendisse potenti. Vivamus bibendum quam nec semper vehicula. Nullam lacinia massa in nisl ultrices, non fermentum mauris ultricies. Nunc ac lacinia mi.</p>
    </div>
    <div class="question">
        <p>Question lorem ipsum 3?</p>
    </div>
    <div class="reponse">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec lacus euismod, efficitur odio at, vehicula ligula. Sed auctor dolor at libero interdum, ut tincidunt metus volutpat. Nullam nec elit nec nisl feugiat congue. Duis auctor justo sit amet luctus cursus. Ut malesuada libero vitae justo pellentesque, sit amet volutpat ex facilisis. Proin ullamcorper, justo vitae posuere tristique, lectus enim luctus nunc, sit amet gravida justo eros ac turpis.</p>
    </div>
</div>